# Chi Square Test

Steps to be taken : 
    
    1. Null Hyp.
    2. Alternate Hyp.
    3. Critical value
    4. Test Statistics

In [ ]:
Null hyp (H0) : all the visitors irrespective of Day is same
Alternate hyp (H1) : all the visitors irrespecticve of Day are not same
Critical Value : 0.71
Test Statistics sum((obs-exp)^2/exp)
Conclusion

Because the critical value is less than the T-stats which means that no. of visitors at ATM are different and not same....

# Question 

An airline comapny daily flights caters to several cities. The F&B manager believes that 30% prefer Veg food,45% of their passengers prefer Vegan. 20% prefer Non Vegan and 5% prefer Jain Food.

A sample of 500 passengers was chosen to analyse the food preference of the passengers

In [53]:
import numpy as np
import pandas as pd
import scipy as scipy
import scipy.stats as stats
passengers = [190,185,90,35]     # Expected Value or Actual Frequency
n = np.sum(passengers)

In [ ]:
H0 : The food preference of the passengers is as perceived by the F&B manager.

H1 : The food preference of the passengers is not as perceived by the F&B manager.

The chosen alpha is 0.05

In [18]:
exp_passengers_count=np.array([n*0.30,n*0.45,n*0.20,n*0.05])

In [19]:
tstats,pvalue = stats.chisquare(f_obs=passengers,f_exp=exp_passengers_count)

In [20]:
tstats

22.77777777777778

In [21]:
pvalue     # p value is less than 0.05 hence null hyp is rejected

4.492718590376291e-05

In [ ]:
Continuing th same example from above, the manager realised that perception is not correct.

He now believes that 28% passengers prefer Vegan food, 42% prefer Veggies, 25% prefer the Non Veg and 5% for Jain Food.

In [23]:
exp_passengers_count2=np.array([n*0.28,n*0.42,n*0.25,n*0.05])

In [30]:
tstats,pvalue = stats.chisquare(f_obs=passengers,f_exp=exp_passengers_count2)

In [31]:
tstats

34.63333333333334

In [32]:
pvalue   # p value is less than 0.05 hence null hyp is rejected

1.4561004918754443e-07

In [33]:
# Testing more than one Cat. Variable

H0 : no difference in work quality by gender
H1 : difference in work quality by gender

In [35]:
dict1={"Gender":["Male","Female"],"Perfect":[138,64],"Satisfactory":[83,67],"Defective":[64,84]}

In [38]:
dict1=pd.DataFrame(dict1)

In [39]:
dict1

   Gender  Perfect  Satisfactory  Defective
0    Male      138            83         64
1  Female       64            67         84

In [51]:
ar1=[[138,83,64],[64,67,84]]

In [55]:
teststats,pvalue,df,exp_freq=stats.chi2_contingency(ar1)

In [56]:
teststats

22.152468645918482

In [57]:
pvalue       # p value is less than 0.05 hence null hyp is less

1.547578021398957e-05

In [58]:
df

2

In [59]:
exp_freq

array([[115.14,  85.5 ,  84.36],
       [ 86.86,  64.5 ,  63.64]])

In [ ]:
# P(A|B) =	 (P(A)*P(B|A))/P(B)