# T - Test  ( applied when population S.D is not given)

assumption : Data has to be normal

 alpha = Type 1 Error
  
  if p-value < alpha : Reject the null hyp.
  
     p-value > alpha : Failed to reject the null hyp.

 
 p-value is the probality of null value being rejected

In [1]:
# if you have only two samples and no population then T- test is applied

# Question - 1 

The mayor of a large city claims that the average networth of families living in the city is at least 300,000.
A random sample of 25 families selected from city produced a mean worth of 288000.

Assume that the networth of all families livin folllow the gaussian curve with popsd = 80,000
Can u conclude that the mayor's claim is FALSE ?
keep alpha = 2.5 %


# Question - 2

Experience Marketing reported that the typical time spent by an American is mean of 144 minutes (2.4 hours) per day acessing 
the internet via mobile device.

In order to test the claim, a data of 30 people is selected.

We need to find if there is enough evidence that the population mean time spent during the day accessing the internet via mobile is different from 144 minutes.

In [2]:
# Solution 1 : 

# Given values : 
popmean = 300000
xbar = 288000
popsd = 80000
alpha = 0.025

# Step - 1 : Define null hyp.

#           H0 : mew = 300000 (The average networth of people = 300000)

# Step - 2 : Define alternate hyp.
#           H1 : mew != 300000

# Step - 3 : One or two tail ?  : Its a two tail test

# Step - 4 : identify the alpha 
#         alpha = 0.25
            
# Lest apply Ztest
    
# import library : 
import numpy as np
import scipy.stats as stats

# Finding CV

cv = stats.norm.isf(alpha/2)
print("Critical Value is : ",cv)

Critical Value is :  2.241402727604945

In [3]:
zstats = (xbar-popmean)/(popsd/5)

In [4]:
print("Z Stats = ",zstats)

Z Stats =  -0.75

 Conclusion : 

 Since we see that the zstats value lies btw (+)(-) CV hence, there is sufficient reason to believe that the mayor's claim is True.

In [4]:
# Soultion - 2 :

# here popsd is not given, not avaliable we will apply T-test

import pandas as pd
import numpy as np
internet=pd.read_csv("C:\\Users\\Asus\Desktop\\InternetMobileTime.csv")

internet.shape

(30, 1)

In [5]:
internet.head()

   Minutes
0       72
1      144
2       48
3       72
4       36

In [8]:
# Given :

popmean = 144
n = 30  # from shape
samplesd = np.std(internet["Minutes"])
samplemean=internet["Minutes"].mean()

# Step - 1 : Define null hyp.

#           H0 : mew = 144 minutes (The average time spent = 300000)

# Step - 2 : Define alternate hyp.
#           H1 : mew != 144

# Step - 3 : One or two tail ?  : Its a two tail test

# Step - 4 : identify the alpha 
#         alpha = 0.05
            
# Lest apply Ttest
    
# import library : 
import numpy as np
import scipy.stats as stats

# Finding CV

cv = stats.t.isf(0.05/2,n-1)       # stats.norm.ppf/isf for +/-     # t stands for t table    # n-1 : degree of freedom
print("Critical Value is : ",cv)

Critical Value is :  2.0452296421327034

In [8]:
# Step - 5 : Find the test stats

tstats = (samplemean-popmean)/(samplesd/np.sqrt(n))
tstats

1.245610486459851

In [9]:
tstats>cv

False

Conclusion :

    Hence we are not able to reject null hyp.

In [10]:
# Through System and now the comparison is based on P value 

# one sample T test

tstats,pvalue=stats.ttest_1samp(internet["Minutes"],144)   # (data, population mean)

print(tstats)
print(pvalue)

1.2246743653638934
0.23055326882983757

# Conclusion :
    
    Basis the T stats in comparison to critical value, since the tstats is less than the CV and at the same time the 
    p value is more than the 0.05. 
    
    This shows that there is enough evidence to believe that We Fail To Reject the Null Hyp.
    
    menaing that on average an american spends 144 minutes on internet via mobile.

# Question - 3

Suppose a Doctor claims that 17 year olds have an average body temperature that is higher than the commonly accecpted avg. temp of 98.6 F.

A Random Sample of 25 people with age of 17 is collected. Find out the results and conclude the same.

In [11]:
#  null hyp : H0  temp = 98.6
#  alternate hyp : temp > 98.6
temp=pd.read_csv("C:\\Users\\Asus\Desktop\\Temperature.csv")
temp.shape

(25, 1)

In [12]:
popmean=98.6
n=25
samplemean=temp["Temp"]
np.std(temp.Temp, ddof=1)

0.5998258080476343

In [13]:
tstats,pvalue=stats.ttest_1samp(temp["Temp"],98.6)   # (data, population mean)

print(tstats)
print(pvalue)

-0.006668602694974534
0.9947343867528586

In [14]:
if pvalue>0.05:
    print("Failed to reject")
else :
    print("Null Hyp. is rejected")

Failed to reject

# Alcohol consumption Case Study

## Question 

The alcohol consumption before and after love faliure is given in the dataset. Conduct a T test to check whether the Alcohol Consumption is more after the Love Faliure at 5% LOS.

In [15]:
alcohol=pd.read_csv("C:\\Users\\Asus\Desktop\\Alcohol Consumption.csv")

In [16]:
alcohol.head()

   Before_BreakUp  After_Breakup
0             470            408
1             354            439
2             496            321
3             351            437
4             349            335

In [17]:
# H0 : There is no effect in alcohol consumption
# H1 : There is chronic effect in alcohol consumption

In [18]:
tstats,pvalue=stats.ttest_rel(alcohol["Before_BreakUp"],alcohol["After_Breakup"])

In [19]:
print(tstats)
print(pvalue)

-0.5375404241815105
0.5971346738292477

# Soft Drink Case Study

## Question 

At level of significance of 5%, is there evidence that the mean quantity of Soft Drink filled in any bottle is different from 02 Litres

In [20]:
soft=pd.read_csv("C:\\Users\\Asus\Desktop\\Soft Drink Quantity.csv")

In [21]:
soft.head()

   Quantity
0     2.109
1     2.086
2     2.066
3     2.075
4     2.065

In [22]:
# H0 : Quantity = 2   # null Hyp.
# H1 : Quantity != 2  # alternate Hyp.  
    
alpha = 0.5
popmean = 2

In [23]:
samplemean=soft.Quantity.mean()

In [24]:
tstats,pvalue=stats.ttest_1samp(soft["Quantity"],2)

In [25]:
tstats

0.11424484790269981

In [26]:
pvalue

0.9095105442498921

In [27]:
if pvalue>0.025:
    print("Failed to reject Null Hyp")
else :
    print("Null Hyp. is rejected")

Failed to reject Null Hyp